body {
    font-family: 'Sans Serif', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #CA08E1, #6805D1);
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 20px;
}

.Cuadro {
    position: relative;
    min-height: 1px;
    padding: 8px;
    width: calc(100% / 3 - 24px);
    box-sizing: border-box;
    display: inline-block;
    margin: 20px 8px;
}

h2 {
    font-size: 1.2em;
}

p {
    text-align: justify;
}

.btn {
    margin-top: auto;
    margin-bottom: 15px;
    text-align: center; 
}

.login-page {
    background: linear-gradient(to bottom, #0AADEF, #6805D1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(5, 24, 209, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; 
    width: 100%; 
    margin: 0 auto; 
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left; 
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.button-group button,
.button-group a {
    flex: 1; 
    padding: 10px 20px;
    background-color: #fff;
    color: #0518D1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
    text-decoration: none; 
    font-size: 1em; 
    transition: background-color 0.3s, color 0.3s; 
}

.button-group button:hover,
.button-group a:hover {
    background-color: #0518D1;
    color: #fff;
}

.index-btn {
    margin: 15px auto; 
    width: auto; 
    text-align: center;
}

.index-btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #0518D1;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.index-btn a:hover {
    background-color: #0518D1; 
    color: #fff; 
}