<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/content/styles2.css">
    <title>Lista de Peliculas</title>
</head>

<body>

    <h1>Lista de Películas</h1>

    {% for pelicula in peliculas %}
    <div class="pelicula-container">
        <img src="/static/images/imagen{{ pelicula.id_pelicula }}.png" alt="Imagen de {{ pelicula.nombre }}" class="pelicula-imagen">
        <div class="pelicula-info">
            <h2>{{ pelicula.nombre }}</h2>
            <p>{{ pelicula.sinopsis }}</p>
            <p>Clasificación: {{ pelicula.clasificacion }}</p>
            <p>Duración: {{ pelicula.duracion }} minutos</p>
            <p>Fecha de Estreno: {{ pelicula.fecha_estreno }}</p>
            <a href="{{ url_for('resenas', pelicula_id=pelicula.id_pelicula, user_id=user_id, user_name=user_name) }}">Ver Reseñas</a>

        </div>
    </div>
    {% endfor %}
    <form action="{{ url_for('inicioSesion') }}" method="get">
        <button type="submit" class="button-group">Cerrar Sesión</button>
    </form>

</body>

</html>
