<!DOCTYPE html>
<html lang="en">
<!-- Encabezado y estilos -->

<body>

    <h1>Reseñas de {{ pelicula.nombre }}</h1>

    <div class="pelicula-info">
        <h2>{{ pelicula.nombre }}</h2>
        <p>{{ pelicula.sinopsis }}</p>
        <p>Clasificación: {{ pelicula.clasificacion }}</p>
        <p>Duración: {{ pelicula.duracion }} minutos</p>
        <p>Fecha de Estreno: {{ pelicula.fecha_estreno }}</p>
    </div>

    {% for resena in reseñas %}
    <div class="resena">
        <p>{{ resena.contenido }}</p>
        <p>{{ resena.fecha }} - {{ resena.nombre_usuario }}</p>
        <form action="{{ url_for('eliminar_resena', resena_id=resena.id_resena, pelicula_id=pelicula.id_pelicula, user_name=user_name, user_id=user_id) }}" method="post">
            <button type="submit" class="eliminar-button">Eliminar</button>
        </form>
    </div>
    {% endfor %}

    <h3>Añadir Reseña</h3>
    <form method="post" action="{{ url_for('resenas', pelicula_id=pelicula.id_pelicula, user_name=user_name, user_id=user_id) }}">
        <label for="contenido">Contenido:</label>
        <textarea id="contenido" name="contenido" required></textarea>
        <br>
        <input type="submit" value="Enviar Reseña">
    </form>
</body>

</html>